@media (min-width:992px) {
    .container{
        margin-left: 60px;
        margin-right: 60px;
    }
 
    header .navigation .navbar{
         display: block;
         
    }
    
    header .navigation .theme{
            display: flex;
           justify-content: end;       
            
    }
    header .navigation .theme .icon{
             display: block;
    }
    header .navigation .theme button{
        display: none;
    
    }

    /* ======================================= */
    .home-page{
        height: auto;
        max-width: 100%;
       
    }
    .home-page .home-text {
        color: white;
        font-size: 35px;
        width: 100%;
    }
    .home-page .home-text h1{
        font-size:50px ;
    }
    .home-page .home-text p{
        font-size: 25px;
        line-height: 22px;
        width: 100%;
        padding-bottom: 10px;
    }

     /* ==================== */
     .team .grid-box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
     }
     .team .grid-box .grid1{
        grid-row:unset;
        grid-column: unset;
        width: unset;
        margin: unset;
     }
     .shoots .main-shoots{
        display: flex;
        flex-direction: row;
       }
       .wildlive .box{
        display: flex;
        flex-direction: row;
       }

       /* =============================== */

       .help .main-help{
        display: flex;
        flex-direction: row;
        }

        /* ================================= */

        .forest .main-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
           
        }
        .forest .main-grid .grid1{
            grid-row:unset;
            grid-column: unset;
            width: unset;
            margin: unset;
        }
        /* ======================================== */

        .blog .main-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            
        }
        .review .review_flex{
            display: flex;
            flex-direction: row;
        }

        /* ======================================== */

        .footer .main-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            
        }

        .footer .main-grid .grid{
            grid-row: unset;
            grid-column: unset;
            width: unset;
            margin: unset;
        }
}